body{
    background-color: #885be4;
    font: normal 15pt Arial;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 2%;
    border-radius: 15px;
}
section .imagemMercadoFinanceiro{
    margin:auto;
    width: 620px;
    height: 400px;
}
section h1{
    margin-bottom: 1;
}
section h2{
    font: 20pt Normal Arial;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
}
section div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section div img{
    width: 30px;
}
section div a{
    background-color: #ECF2EA;
    border-radius: 6px;
    padding: 2%;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div button{
    border:none;
    background-color: aliceblue;
}